<%content_for :title do%>
	Fasterm - Produtos
<%end%>

<%content_for :header do%>
	<!-- HEADER -->
	<div id="HeaderInternas">
		<%= image_tag("titulos/produtos.png", :alt => "Produtos")%>
	</div>
<%end%>

		<div id="Content" class="zeraMagem">
			<%= render :file => "layouts/_right.html.erb" %>
			
			<div id="HomeLeft">
				<!-- CONTEUDO INTERNA -->
				<div id="ContentInterno">
					<%=link_to image_tag("produtos/linha_home.jpg"), linha_path(8)%><%=link_to image_tag("produtos/linha_business.jpg"), linha_path(9)%><%=link_to image_tag("produtos/linha_solar.jpg"), linha_path(10)%><!-- <%=link_to image_tag("produtos/linha_acessorios.jpg"), linha_path(11)%> -->
				</div>
			</div>
		</div>