<%content_for :head do%>
<%= stylesheet_link_tag "scroll/scrollable-buttons.css"%>
<%= stylesheet_link_tag "scroll/scrollable-horizontal.css"%>
<%= stylesheet_link_tag "scroll/scrollable-navigator.css"%>

<%= stylesheet_link_tag "busca.css"%>

<%end%>
<%content_for :header do%>
	<!-- HEADER -->
	<div id="HeaderInternas">
		<%= image_tag("titulos/busca.png", :alt => "Busca")%>
	</div>
<%end%>

		<div id="Content" class="zeraMagem">
			<%= render :file => "layouts/_right.html.erb" %>
			
			<div id="HomeLeft">
				<!-- CONTEUDO INTERNA -->
				<div id="ContentInterno">
					<span class="DestaqueInterno"><%= image_tag("dest_busca.jpg")%></span>
					<span class="Titulo"><%= image_tag("bullet_mais.png")%> Resultados da busca por: <%=@Termo%></span><br>
					
					<div id="BoxBusca">
						<div id="Titulo">Resultados em <b>PRODUTOS</b></div>
						<%@Produtos.each do |produto|%>
						<%@Categoria = Category.find(produto.category_id)%>
							<div class="TituloBusca">
								<span class="TituloResultado"><%=link_to produto.title, linha_categoria_produto_path(@Categoria.section_id, @Categoria, produto)%></span>
								<span id="Icone"><%=link_to image_tag("bullet_mais.png"), linha_categoria_produto_path(@Categoria.section_id, @Categoria, produto)%></span>
							</div>
							<div class="DescricaoBusca">
								<%=truncate(produto.description, 100, "...")%>
							</div>
						<%end%>
						
						<%if @Produtos.blank?%>
							<p>Sem resultados nesta categoria</p>
						<%end%>
					</div>
					
					<div id="BoxBusca">
						<div id="Titulo">Resultados em <b>NOTICIAS</b></div>
						<%@Noticias.each do |noticia|%>
							<div class="TituloBusca">
								<span class="TituloResultado"><%=link_to noticia.title, noticia_path(noticia)%></span>
								<span id="Icone"><%=link_to image_tag("bullet_mais.png"), noticia_path(noticia)%></span>
							</div>
							<div class="DescricaoBusca">
								<%=noticia.summary%>
							</div>
						<%end%>
						
						<%if @Noticias.blank?%>
							<p>Sem resultados nesta categoria</p>
						<%end%>
						
					</div>
					
					<div id="BoxBusca">
						<div id="Titulo">Resultados em <b>CASES</b></div>
						<%@Cases.each do |c|%>
							<div class="TituloBusca">
								<span class="TituloResultado"><%=link_to c.title, case_path(c)%></span>
								<span id="Icone"><%=link_to image_tag("bullet_mais.png"), case_path(c)%></span>
							</div>
							<div class="DescricaoBusca">
								<%=c.sumary%>
							</div>
						<%end%>
						
						<%if @Cases.blank?%>
							<p>Sem resultados nesta categoria</p>
						<%end%>
					</div>
					
				</div>
			</div>
		</div>