<%content_for :title do%>
	Fasterm - Quem Somos?
<%end%>

<%content_for :header do%>
	<!-- HEADER -->
	<div id="HeaderInternas">
		<%= image_tag("titulos/conheca_fasterm.png", :alt => "Conheça a Fasterm")%>
	</div>
<%end%>

		<div id="Content" class="zeraMagem">
			<%= render :file => "layouts/_right.html.erb" %>
			
			<div id="HomeLeft">
				<!-- CONTEUDO INTERNA -->
				<div id="ContentInterno">
					<span class="DestaqueInterno"><%= image_tag(@Servidor + @Header.image.url("header"))%></span>
					<span class="Titulo"><%= image_tag("bullet_mais.png")%> <%=@Titulo%></span><br>
				
					<div id="Texto">
							<%
							if !@Imagem.blank?
							%>
							<div id="BoxFotoInterna" style="float:right;">
								<div id="FotoInterna">
									<%= image_tag(@Servidor + @Imagem)%><br>
									<%=@Legenda%>
								</div>
							</div>
							<%end%>
							<p>
								<%=@Conteudo%>
							</p>
					</div>
					
					
				</div>
			</div>
		</div>