		<div id="Header">
			<div id="Logo"><%=link_to image_tag("logo.gif", :alt => "Fasterm"), home_path%></div>
			<form>
			<div id="Busca">
				<form action="/busca" method="get">
					<input type="text" name="s">
				</form>
			</div>
			</form>
			<div id="Menu">
				<ul>
					<li><%=link_to image_tag("menu/empresa.gif", :alt => "A Fasterm"), empresa_path%></li>
					<li><%=link_to image_tag("menu/produtos_on.gif", :alt => "Produtos"), linhas_path%></li>
					<li><%=link_to image_tag("menu/servicos.gif", :alt => "Serviços"), servicos_path%></li>
					<li><%=link_to image_tag("menu/eventos.gif", :alt => "Eventos"), eventos_path%></li>
					<li><%=link_to image_tag("menu/orcamento.gif", :alt => "Agende uma Visita"), home_path%></li>
					<li><%=link_to image_tag("menu/contato.gif", :alt => "Contate-nos"), sitecontacts_path%></li>
				</ul>
			</div>
		</div>